<!-- <app-crear-clientes></app-crear-clientes>
<app-modificar-clientes></app-modificar-clientes>
<app-lista-clientes></app-lista-clientes> -->

<!-- <app-login (loginSuccess)="onLoginSuccess()" *ngIf="showLoginForm && !isLogged"></app-login>

<app-logout *ngIf="isLogged"></app-logout>
<app-create-user *ngIf="isLogged"></app-create-user>
<app-delete-user *ngIf="isLogged"></app-delete-user>
<app-get-users *ngIf="isLogged"></app-get-users>
<app-create-position *ngIf="isLogged"></app-create-position> -->

<app-turnero></app-turnero>
<app-lista-tunero></app-lista-tunero>
<app-lista-clientes-atendidos></app-lista-clientes-atendidos>